services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: banking_approval
      MYSQL_ROOT_PASSWORD: vsk@1234
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  backend:
    build: ./Backend
    depends_on:
      - mysql
      - kafka
    environment:
      DB_URL: jdbc:mysql://mysql:3306/banking_approval?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      DB_DRIVER: com.mysql.cj.jdbc.Driver
      DB_USERNAME: root
      DB_PASSWORD: vsk@1234
      DB_DIALECT: org.hibernate.dialect.MySQLDialect
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      H2_CONSOLE_ENABLED: false
      JPA_SHOW_SQL: false
      DDL_AUTO: update
      SQL_INIT_MODE: never
    ports:
      - "8082:8081"

  frontend:
    build: ./frontend
    ports:
      - "3000:80"

volumes:
  mysql_data: